.video-feed-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.video-feed-swiper {
  height: 100%;
  width: 100%;
}

.swiper-slide {
  height: 100%;
  width: 100%;
}
