 .video-feed-container {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.video-feed-swiper {
  height: 100%;
  width: 100%;
}

.swiper-slide {
  height: 100%;
  width: 100%;
}
